<ul>
    <button *ngIf="isInsideAnimalsCategory" data-nagish="header-popover-back-button" class="btn"
        (click) = "onClickCloseCategory()">
        <div>
            <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.986 6.66a.75.75 0 01.98-1.13l.084.072 6.137 6.18a.75.75 0 01.069.976l-.073.084-6.145 6.102a.75.75 0 01-1.13-.98l.073-.084 5.613-5.574L8.986 6.66z" fill="currentColor"></path>
            </svg>
            <span>חיות מחמד</span>
        </div>
    </button>
    <li class="opt">כלבים</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">חתולים</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">תוכים ובעלי כנף</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">דגים</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">זוחלים</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">מכרסמים</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">סוסים</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">תרנגולים</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">חיות משק</li>
    <div *ngIf="isInsideAnimalsCategory" class="hr"></div>
    <li class="opt">חמוסים</li>
</ul>

