<div class="components">
    <h2>שירותים פופולריים</h2>
    <div class="container">
        <div>
            <img src="https://assets.yad2.co.il/homepage/business.svg" alt="">
            <div class="text">
                <div>נדל"ן מסחרי</div>
                <div>מאגר הנכסים המסחריים הגדול בעולם</div>
            </div>
        </div>
        <div>
            <img src="https://assets.yad2.co.il/homepage/realestate.svg" alt="">
            <div class="text">
                <div>יד1</div>
                <div>פרוייקטים חדשים ודירות חדשות בכל רחבי הארץ</div>
            </div>
        </div>
        <div>
            <img src="https://assets.yad2.co.il/homepage/priceList.svg" alt="">
            <div class="text">
                <div>מחירון רכב</div>
                <div>מידע ומחירים בזמן אמת במחיר השוק האמיתי</div>
            </div>
        </div>
        <div>
            <img src="https://assets.yad2.co.il/homepage/calculator.svg" alt="">
            <div class="text">
                <div>Yadata</div>
                <div>לדעת כמה הדירה שווה בעזרת מחשבון חדשני</div>
            </div>
        </div>
    </div>
</div>