:host{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 50%;
    position: relative;
}
.header-search-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
app-header {
    position: sticky;  
    top: 0;
}

app-apartment-page2{
    background-color: #fff;
}
app-footer{
    position: absolute;
    bottom: 0;
}