<span class="header">לקנות מהר, למכור מהר.</span>
<span class="header">ויש לנו אחלה כלים לזה.</span>
<ul class="icons-container">
    <li>
        <img src="https://assets.yad2.co.il/login/icon_alert.svg" alt="">
        <span>התראות</span>
    </li>
    <li>
        <img src="https://assets.yad2.co.il/login/icon_chat.svg" alt="">
        <span>צ'אט</span>
    </li>
    <li>
        <img src="https://assets.yad2.co.il/login/icon_publish.svg" alt="">
        <span>פרסום מודעה</span>
    </li>
    <li>
        <img src="https://assets.yad2.co.il/login/icon_profile.svg" alt="">
        <span>אזור אישי</span>
    </li>
</ul>