<div class="container">
    <img *ngIf="selectImg1" src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fbanner-carousel%2FDesktop-%2520banner.png&w=1920&q=75">
    <img *ngIf="selectImg3" src="https://braze-images.com/appboy/communication/assets/image_assets/images/67893cbaa6fb5300649f7b8e/original.jpg">
    <img *ngIf="selectImg2" src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fbraze-images.com%2Fappboy%2Fcommunication%2Fassets%2Fimage_assets%2Fimages%2F670e3eb968f8f600652cf48b%2Foriginal.png%3F1728986808&w=1920&q=75">
    
    <div class="imgs-selector">
        <div class="img-btn" (click)="showImg(1)" [ngClass]="{'mark': selectImg1}"></div>
        <div class="img-btn" (click)="showImg(2)" [ngClass]="{'mark': selectImg2}"></div>
        <div class="img-btn" (click)="showImg(3)" [ngClass]="{'mark': selectImg3}"></div>
    </div>
</div>