<div class="category-container">
    <div class="option">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-real-estate.png&w=256&q=75">
        <h2>נדל"ן</h2>
    </div>
    <div class="option">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-vehicles.png&w=256&q=75">
        <h2>רכב</h2>
    </div>

    <div class="option">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-second-hand.png&w=256&q=75">
        <h2>יד שנייה</h2>
    </div>
    <div class="option">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-drushim-new.png&w=256&q=75">
        <h2>דרושים</h2>
    </div>
    <div class="option">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-pets.png&w=256&q=75">
        <h2>חיות מחמד</h2>
    </div>
    <div class="option">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-professional.png&w=256&q=75">
        <h2>בעלי מקצוע</h2>
    </div>
    <div class="option">
        <img src="https://www.yad2.co.il/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-business.png&w=256&q=75">
        <h2>עסקים למכירה</h2>
    </div>
</div>