:host{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 900;
    background-color: #fff;
}
@mixin flex($justify-content, $align-items, $flex-direction){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

.header-container{
    @include flex(start, center, row);
    direction: rtl;
    min-height: 65px;
    box-shadow: 5px 1px 20px rgba(128, 128, 128, 0.354);
    padding: 0 20px;
    flex-wrap: wrap;
}
.list{
    @include flex(start, center, row);
    cursor: pointer;
    margin-left: auto;
    height: 4rem;
}
.buttons{
    @include flex(end, center, row);
    cursor: pointer;
    height: 4rem;
}
.logo{
    width: 60px;
    height: 60px;
}
.connection-btn, .post-btn, 
.liked-post-btn, .chat-btn, .option{
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    height: 4rem;
    padding-inline: 10px;
    padding: 0 18px;
}
.option>:first-child{
    background-color: #fff;
}

.btn-in-amborger:hover,
.connection-btn:hover,
.post-btn:hover,
.liked-post-btn:hover,
.chat-btn:hover,
.option:hover{
    background-color: #5a5a5a26;
}
.post-btn{
    border: 1px solid rgb(255,113,0);
    border-radius: 30px;
    padding: 0 18px;
    height: 36px;
    font-size: 0.875rem;
    font-weight: 500;
}
.post-btn, .plus-btn{
    color: rgb(255,113,0);
}
.plus-btn{
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 5px;
}
.post-btn:hover{
    background-color: #ff730011;
}
.connection-btn>:first-child{
    border: 1px solid rgba(108, 106, 106, 0.279);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    background-color: rgba(108, 106, 106, 0.153);
}
.svg-liked-post>:first-child,
.chat-btn>:first-child{
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
.amborger-btn{
    display: none;
}

.real-estate-model>:first-child{
    grid-template-rows: repeat(5,1fr);
    @extend .shared-style;
}
.connection-btn,
.svg-liked-post,
.professionals-option,
.animals-option,
.business-option,
.jobs-option,
.car-option,
.yad2-option,
.real-estate-option{
    position: relative;
}
.professionals-option:hover .professionals-model>:first-child,
.animals-option:hover .animals-model>:first-child,
.business-option:hover .business-model>:first-child,
.jobs-option:hover .jobs-model>:first-child,
.yad2-option:hover .yad2-model>:first-child,
.real-estate-option:hover .real-estate-model>:first-child{
    display: grid;
}
.item{
    grid-area: -6/2;
}
.item1{
    grid-area: -5/2;
}
.item2{
    grid-area: -4/2;
}
.item3{
    grid-area: -3/2;
}
.item4{
    grid-area: -2/2;
}

.item >:hover,
.item1 >:hover,
.item2 >:hover,
.item3 >:hover,
.item4 >:hover,
.opt:hover,
.option-real-estate:hover{
    color: #ff7100;
}
a{
    text-decoration: none;
    color: rgb(54,54,54);
    width: 100%;
    height: 100%;
}

.professionals-model,
.animals-model,
.business-model,
.jobs-model,
.yad2-model,
.real-estate-model{
    position: absolute;
    right: 0;
    top: 100%;
}
.love-icon-description{
    position: absolute;
    right: -40%;
    top: 165%;
}
.connection-description{
    position: absolute;
    right: 0;
    top: 100%;
}
.connection-description,
.love-icon-description{
    display: none;
    box-shadow: 5px 1px 20px rgba(128, 128, 128, 0.354);
    padding: 10px;
    height: auto;
}
.connection-btn:hover .connection-description,
.liked-post-btn:hover .love-icon-description{
    display: block;
}
.professionals-model >:first-child{
    grid-template-rows: repeat(11,1fr);
    @extend .shared-style;
}
.jobs-model >:first-child{
    grid-template-rows: repeat(10,1fr);
    @extend .shared-style;
}
.business-model >:first-child{
    grid-template-rows: repeat(7,1fr);
    @extend .shared-style;
}
.shared-style {
    display: none;
    box-shadow: 5px 1px 20px rgba(128, 128, 128, 0.354);
    line-height: 25px;
    grid-auto-flow: column;
    min-width: 225px;
    padding: 25px;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}
.yad2-model >:first-child{
    grid-template-rows: repeat(8,1fr);
    @extend .shared-style;
}
.animals-model >:first-child{
    grid-template-rows: repeat(10,1fr);
    @extend .shared-style;
}
.background{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    position: relative;
}
.background>:first-child{
    position: absolute;
    top: -60px;
    right: 20px;
    z-index: 5;
}
.amborger-list{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100%;
    flex-direction: row;
    width: 315px;
    z-index: 3;
    background-color: #fff;
    background: linear-gradient(to bottom, rgb(218, 217, 217) 15%, #fff 15% 80%);
}
.amborger-btn{
    display: none;
    gap: 10px;
}
.profile-icon{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(108, 106, 106, 0.279);
    background-color: rgba(153, 153, 153, 0.301);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;

}
.post-btn-in-amborger{
    @include flex(center, center, row);
    border: 1px solid #ff7100;
    border-radius: 30px;
    padding: 10px;
    font-weight: 550;
    height: 20px;
    direction: rtl;
    width: 150px;
    background-color: #fff;
    cursor: pointer;
}
.post-btn-in-amborger>:first-child,
.post-btn-in-amborger>:last-child{
    display: inline;
    color: #ff7100;
}
.btn-in-amborger{
    @include flex(end, center, row);
    gap: 10px;
    cursor: pointer;
    width: 97%;
    margin-right: 10px;
}
.category-in-amborger{
    @include flex(end, center, row);
    cursor: pointer;
    direction: rtl;
    width: 100%;
    position: relative;
}
.category-in-amborger > *{
    width: 100%;
    @include flex(start, center, row);
    margin-right: 10px;
    gap: 10px;
}
.category-list-in-amborger{
    @include flex(end, center, column);
    width: 100%;
}
.hr{
    background-color: #8f8e8d62;
    height: 0.5px;
    width: 100%;
}
.amborger-list>:first-child{
    @include flex(center, center, column);
    gap: 10px;
    padding: 20px;
}
.amborger-list>:last-child{
    @include flex(end, center, column);
    color: rgb(54,54,54);
    line-height: 50px;
}
.category-in-amborger >:first-child{
    @include flex(start, center, row);
    color: rgb(54,54,54);
    font-weight: 300;
    cursor: pointer;
    line-height: 50px;
}
.category-in-amborger span {
    display: flex; 
    align-items: center;
}

.icon-category1,
.icon-category,
.btn-in-amborger >svg{
    font-size: 1.5rem;
}
.icon-category1{
    position: absolute;
    left: 10px;
}
.real-estate-option-in-amborger{
    display: none;
    position: absolute;
}
.close-style {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;
}

@media(max-width: 1365px) {
    .liked-post-btn> div:last-child,
    .chat-btn> div:last-child{
        display: none;
    }
}
@media(max-width: 880px) {
    .post-btn,
    .connection-btn,
    .list{
        display: none;
    }
    .header-container{
        justify-content: space-between;
        position: relative;
    }
    .logo{
        margin: 0 auto;
        cursor: pointer;
    }
    .liked-post-btn{
        position: absolute;
        right: 50px;
    }
    .chat-btn{
        position: absolute;
        left: 0;
    }
    .amborger-btn{
        display:inline;
        position: absolute;
        right: 20px;
    }
    .amborger-btn>:first-child{
        height: 25px;
        width: 25px;
    }
}