:host{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;
    background-color: #fff;
}
@mixin flex($justify-content, $align-items, $flex-direction){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

.header-container{
    @include flex(start, center, row);
    direction: rtl;
    min-height: 65px;
    box-shadow: 5px 1px 20px rgba(128, 128, 128, 0.354);
    padding: 0 20px;
    flex-wrap: wrap;
}
.list{
    @include flex(start, center, row);
    cursor: pointer;
    margin-left: auto;
    height: 4rem;
}
.buttons{
    @include flex(end, center, row);
    cursor: pointer;
    height: 4rem;
}
.logo{
    width: 60px;
    height: 60px;
}
.connection-btn, .post-btn, 
.liked-post-btn, .chat-btn, .option{
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    height: 4rem;
    padding-inline: 10px;
    padding: 0 18px;
}
.connection-when-login{
    .connection-btn>:first-child{
        border: 1px solid rgb(255, 133, 0);
        color: rgb(255, 133, 0);
        background-color: rgb(255,241,229);
    }
    .connection-btn>:last-child{
        font-size: 1rem;
    }
}

.option>:first-child{
    background-color: #fff;
}

.btn-in-amborger:hover,
.connection-btn:hover,
.post-btn:hover,
.liked-post-btn:hover,
.chat-btn:hover,
.option:hover{
    background-color: #5a5a5a26;
}
.post-btn{
    border: 1px solid rgb(255,113,0);
    border-radius: 30px;
    padding: 0 18px;
    height: 36px;
    font-size: 0.875rem;
    font-weight: 500;
}
.post-btn, .plus-btn{
    color: rgb(255,113,0);
}
.plus-btn{
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 5px;
}
.post-btn:hover{
    background-color: #ff730011;
}
.connection-btn>:first-child{
    border: 1px solid rgba(108, 106, 106, 0.279);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    background-color: rgba(108, 106, 106, 0.153);
}
.svg-liked-post>:first-child,
.chat-btn>:first-child{
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
.amborger-btn{
    display: none;
}

.connection,
.connection-when-login,
.svg-liked-post,
.professionals-option,
.animals-option,
.business-option,
.jobs-option,
.car-option,
.yad2-option,
.real-estate-option{
    position: relative;
}
a{
    text-decoration: none;
    color: rgb(54,54,54);
    width: 100%;
    height: 100%;
}

.love-icon-description{
    position: absolute;
    right: -100%;
    top: 165%;
    height: 50px;
    width: 175.55px;
    text-align: center;
}
.connection-description{
    position: absolute;
    right: -15%;
    top: 100%;
    border-radius: 4px;
    height: auto;
    width: 175.55px;
}
.line-border-top{
    border-top: 1px solid rgb(238,238,238);
}
.connection-description >*{
    padding: 0 20px 0 30px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    svg{
        width: 1.5rem;
        height: 1.5rem;
    }
}
.connection-description >*:hover{
    background-color: #5a5a5a26;
}
.connection-description,
.love-icon-description{
    display: none;
    box-shadow: 5px 1px 20px rgba(128, 128, 128, 0.354);
    background-color: #fff;
}
.connection:hover .connection-description,
.liked-post-btn:hover .love-icon-description{
    display: block;
}
.shared-style {
    display: none;
    box-shadow: 5px 1px 20px rgba(128, 128, 128, 0.354);
    line-height: 25px;
    grid-auto-flow: column;
    min-width: 225px;
    padding: 25px;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}
.background{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    position: fixed;
}
.background>:first-child{
    position: absolute;
    top: -60px;
    right: 20px;
    z-index: 5;
    svg{
        width: 1.5rem;
        height: 1.5rem;
    }
}
.amborger-list{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100%;
    flex-direction: row;
    width: 315px;
    z-index: 3;
    background-color: #fff;
    background: linear-gradient(to bottom, rgb(218, 217, 217) 15%, #fff 15% 80%);
}
.amborger-list.open {
    animation: slide-in 0.5s ease-out;
}
.amborger-list.close {
    animation: slide-out 0.5s ease-out;
}
.amborger-btn{
    display: none;
    gap: 10px;
}
.profile-icon{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(108, 106, 106, 0.279);
    background-color: rgba(153, 153, 153, 0.301);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;

}
.post-btn-in-amborger{
    @include flex(center, center, row);
    border: 1px solid #ff7100;
    border-radius: 30px;
    padding: 10px;
    font-weight: 550;
    height: 20px;
    direction: rtl;
    width: 150px;
    background-color: #fff;
    cursor: pointer;
    margin: 0 auto;
}
.logout-link{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
    color: rgb(153,153,153);
}
.full-name-user{
    font-weight: 600;
    font-size: 1rem;
}
.link-to-private{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(54,54,54);
    margin-top: 5px;
}
.post-btn-in-amborger>:first-child,
.post-btn-in-amborger>:last-child{
    display: inline;
    color: #ff7100;
}
.btn-in-amborger{
    @include flex(start, center, row);
    flex-direction: row-reverse;
    gap: 10px;
    cursor: pointer;
    width: 97%;
    margin-right: 10px;
}
.category-in-amborger{
    @include flex(end, center, row);
    cursor: pointer;
    direction: rtl;
    width: 100%;
    position: relative;
}
.category-in-amborger > *{
    width: 100%;
    @include flex(start, center, row);
    margin-right: 10px;
    gap: 10px;
}
.category-list-in-amborger{
    @include flex(end, center, column);
    width: 100%;
}
.hr{
    background-color: #8f8e8d62;
    height: 0.5px;
    width: 100%;
}
.amborger-list>:first-child{
    @include flex(center, center, column);
    gap: 10px;
    padding: 20px;
}
.amborger-list>:last-child{
    @include flex(end, center, column);
    color: rgb(54,54,54);
    line-height: 50px;
}
.amborger-list .connection-when-login-in-amborger{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    svg{
        border: 1px solid rgb(255, 133, 0);
        color: rgb(255, 133, 0);
        background-color: rgb(255,241,229);
    }
}
.category-in-amborger span {
    display: flex; 
    align-items: center;
}
.icon-category1,
.icon-category,
.btn-in-amborger >svg{
    font-size: 1.5rem;
}
.icon-category1{
    position: absolute;
    left: 10px;
}
.real-estate-option-in-amborger{
    display: none;
    position: absolute;
}
.close-style {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.3s ease-out;
}
@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@media(max-width: 1365px) {
    .connection-btn>:last-child,
    .liked-post-btn> div:last-child,
    .chat-btn> div:last-child{
        display: none;
    }
}
@media(max-width: 880px) {
    .post-btn,
    .connection-btn,
    .list{
        display: none;
    }
    .header-container{
        justify-content: space-between;
        position: relative;
    }
    .logo{
        margin: 0 auto;
        cursor: pointer;
    }
    .liked-post-btn{
        position: absolute;
        right: 50px;
    }
    .chat-btn{
        position: absolute;
        left: 0;
    }
    .amborger-btn{
        display:inline;
        position: absolute;
        right: 20px;
    }
    .amborger-btn>:first-child{
        height: 25px;
        width: 25px;
    }
}