/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: Rubik, sans-serif;
    color: rgb(54, 54, 54);
    direction: rtl;
    font-size: 0.857rem;
    min-height: 100%;
    background: rgb(248, 248, 248);

}
html{
    height: 100vh;
    width: 100vw;
}
